// Application-wide variables.
// This file is not updatable and will not be replaced on PlainPage core update.
$author: "";
$version: "1.0";
$last_modified: "";  // Provide date

// Default values of variables accross whole application.

